<h1>Editing attendee</h1>

<%= render "form", attendee: @attendee %>

<br>

<div>
  <%= link_to "Back", @attendee %><br>
  <% if current_admin %>
    <%= link_to "Back to attendees", attendees_path %>
  <% end %>
</div>
