<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmation num:</strong>
  <%= @event_ticket.confirmation_num %>
</p>

<%= link_to 'Edit', edit_event_ticket_path(@event_ticket) %> |
<%= link_to 'Back', event_tickets_path %>
